nav{
    display: flex;
    /* justify-content: space-around; */
    /* gap: 20px; */
    /* list-style: none; */
}
.right{
    display: flex;
    gap: 20px;
}

ul li a{
    color: #000;
    text-decoration: none;
}